{{>header}}

<body>
  <div class="container">

    <h1 id="nameTitle"></h1>



    <label for="name">Vorname</label>
    <input id="nameInput" name="name" maxlength="100">
    <button onclick="myFunction()" name="action" value="0">Senden</button>

  </div>
</body>
<script>
  function myFunction() {
    document.getElementById("nameTitle").innerHTML = "Hello " + document.getElementById("nameInput").value;
  }   
</script>

{{>footer}}